absl-py 
addict 
asynctest 
attributee 
attrs 
beautifulsoup4 
boto 
cachetools
certifi 
charset-normalizer 
click
codecov 
colorama 
coverage
cycler 
Cython 
dotty-dict 
easydict 
filelock
flake8 
fonttools
future 
gdown 
google-auth 
google-auth-oauthlib 
grpcio 
h5py
idna 
imageio
importlib-metadata
iniconfig 
interrogate 
isort 
kiwisolver
kwarray 
lap 
llvmlite 
Markdown 
matplotlib
mccabe 
mmcls  
motmetrics 
numba 
numpy
oauthlib 
opencv-python 
openpifpaf
packaging
pandas
Pillow
pluggy 
protobuf 
py 
pyasn1 
pyasn1-modules 
pycocotools 
pycodestyle 
pyflakes 
pyparsing 
PySocks 
pysparkling 
pytest
python-dateutil 
python-json-logger 
pytz 
PyYAML 
requests 
requests-oauthlib 
rsa
scipy
seaborn 
setuptools-scm 
six 
soupsieve 
tabulate 
tb-nightly 
tensorboard-data-server 
tensorboard-plugin-wit 
terminaltables 
toml 
tomli
torch
torchvision
tqdm 
typing-extensions
ubelt 
urllib3 
Werkzeug
xdoctest 
xmltodict 
yacs 
yapf 
zipp
